@model CodingChallengeApplication.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h5>Dependents</h5>
    <p>
        @Html.ActionLink("Create New Dependent", "CreateDependent", new { employeeId = Model.Id})
    </p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Dependents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDependent", new {employeeId = Model.Id, id = item.Id}) |
                    @Html.ActionLink("Details", "DetailsDependent", new {employeeId = Model.Id, id = item.Id}) |
                    @Html.ActionLink("Delete", "DeleteDependent", new {employeeId = Model.Id, id = item.Id})
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
